@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

footer {
  width: 100vw;
  padding: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glitch {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
	font-size: 30px;
	text-decoration: none;
	color: #fff;
	transform: translate(0%, 0%);
	margin: 0;
}

.glitch::before,
.glitch::after {
	content: "Hacktoberfest 2022";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.glitch::before {
	color: #0ff;
	z-index: -1;
}

.glitch::after {
	color: #f0f;
	z-index: -2;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-5px, 5px);
	}
	40% {
		transform: translate(-5px, -5px);
	}
	60% {
		transform: translate(5px, 5px);
	}
	80% {
		transform: translate(5px, -5px);
	}
	to {
		transform: translate(0);
	}
}

.glitch:hover::before {
	animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
}
.glitch:hover::after {
	animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
}

.socials {
  list-style: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0 2rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  text-decoration: none;
  /* Center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Add padding */
  padding: 5px;
  /* Add rounded borders */
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  height: 20px;
  /* Center content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Invert colors when hover mouse */
.socials a:hover {
  background-color: white;
}

.socials li:nth-child(1) a:hover {
  background-color: #3B5998;
}

.socials li:nth-child(2) a:hover {
  background-color: #3F9CEA;
}

.socials li:nth-child(2) a:hover i {
  color: #111;
}

.socials li:nth-child(3) a:hover {
  background-color: #DA547F;
}

.socials li:nth-child(4) a:hover {
  background-color: #E24712;
}

.socials li:nth-child(5) a:hover {
  background-color: #2E77B5;
}

.socials a:hover i {
  color: white;
}

.footer-bottom {
  position: absolute;
  background: #000;
  width: 100vw;
  padding: 20px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.dark-footer{
  background-color: rgb(0, 0, 0);
  color:rgb(204, 198, 198);
  transition: .5s ease-in-out;
}
.bright-footer{
  color: rgb(45, 43, 43);
  background: rgb(145, 143, 143);
  transition: .5s ease-in-out;
}